<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="Server_point" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Sub1_point" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Sub2_point" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Sub3_point" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Sub4_point" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Sub1_size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Sub2_size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Sub3_size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Sub4_size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Dis_point" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Dis_size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="duongdan" serializeAs="String">
                <value />
            </setting>
            <setting name="NutDangNhap_point" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="VLTK_path" serializeAs="String">
                <value />
            </setting>
            <setting name="Auto_path" serializeAs="String">
                <value />
            </setting>
            <setting name="delay1" serializeAs="String">
                <value>50</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
</configuration>
